<section class="main-template">
  <form id="login" name="users.loginForm" ng-submit="users.login()" novalidate>
    <div class="alert alert-danger" role="alert" ng-show="(!!users.error && users.loginForm.$submitted)">{{ users.error }}</div>

    <div>
      <input type="email" id="email" placeholder="Email" name="email" ng-model="users.user.email" required>
    </div>

    <div role="alert" ng-messages="users.loginForm['email'].$error" ng-show="(users.loginForm.$submitted && users.loginForm['email'].$invalid)">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <span ng-message="required">Email is required.</span>
    </div>

    <div>
      <input type="password" id="password" placeholder="Password" name="password" ng-model="users.user.password" required>
    </div>

    <div role="alert" ng-messages="users.loginForm['password'].$error" ng-show="(users.loginForm.$submitted && users.loginForm['password'].$invalid)">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <span ng-message="required">Password is required.</span>
    </div>

    <button type="submit">Submit</button>
  </form>
</section>
