<section class="main-template" id="profile">
  <img ng-src="{{profile.user.local.image}}" />
  <h3>{{ profile.user.local.fullname | uppercase }}</h3>
  <p>{{ profile.user.local.email }}</p>
  <label for="modal-3">
    <div class="modal-trigger">Edit</div>
  </label>
</section>

<div class="modal">
  <input class="modal-state" id="modal-3" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-3"></div>
      <form id="edit" name="users.editForm" ng-submit="profile.editUser()" novalidate>

        <div>
          <input type="text" id="username" name="username" ng-model="profile.user.local.username">
        </div>

        <div>
          <input type="text" id="fullname" name="fullname" ng-model="profile.user.local.fullname">
        </div>

        <div>
          <input type="text" id="image" name="image" ng-model="profile.user.local.image">
        </div>

        <div>
          <input type="email" id="email" name="email" ng-model="profile.user.local.email" required>
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
